
.card {
    background: var(--clr-light);
    border-bottom: solid var(--bottom-outline) var(--clr-dark);
    padding: 2em;
    width: 70%;
    margin-inline: 0 auto;

    .card__title {
        font-size: 2rem;
    }

    .card__button {
        display: block;
        width: fit-content;
        padding: .75em 1.5em;
        margin-top: 1em;
        background-color: var(--clr-dark);
        color: var(--clr-accent);
        transition: all 500ms ease-in-out;

        &:hover, &:focus-within {
            background-color: var(--clr-accent);
            color: var(--clr-dark);
            transition: all 500ms ease-in-out;
        }
    }

    .card__form {
        width: 80%;

        input[type="text"], textarea {
            width: 80%;
            margin-bottom: .5em;
            padding: 1em;
            outline: solid 2.5px var(--clr-grey);
        }
    }

    @media screen and (max-width: 900px) {
        .card__form {
            width: 100%;
        }        
    }
    
    .card__table {
        width: 80%;
        text-align: left;
        margin-top: 1em;
        border-collapse: collapse;

        tr {
            height: 3em;

            th {
                border-top: solid 1px var(--clr-grey);
                border-bottom: solid 2px var(--clr-grey);
            }

            td {
                border-top: solid 1px var(--clr-grey);
            }

            button {
                border: solid 1px var(--clr-dark);
                border-radius: 1em;
                background-color: var(--clr-grey);
            }
        }
    }

    @media screen and (max-width: 900px) {
        .card__table {
            width: 100%;
        }
        
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
}

.card--2 {
    background-color: var(--clr-grey);
}

.card--right {
    margin-inline: auto 0;
}

.card--img {
    border: solid var(--bottom-outline) var(--clr-dark);
    margin-inline: auto;
}

.card--col {
    .card__content {
        display: flex;
        gap: 2em;
    }
}

@media screen and (max-width: 900px) {
    .card--col {
        .card__content {
            display: initial;
        }
    }
    
}