:root {
    --clr-light: #fff;
    --clr-dark: #000;
    --clr-grey: #D9D9D9;
    --clr-accent: #FBF116;

    --bottom-outline: 12.5px
}

body {
    background-color: var(--clr-accent);
    margin-bottom: 2em;
}

.container {
    width: 80%;
    margin-inline: auto;
}

.header {
    border: solid 20px var(--clr-dark);
    padding: 4.5em 3em;
    margin-top: 2.75em;

    display: grid;
    place-content: center;

    .header__logo {
        display: flex;
        align-items: end;

        img {
            width: 5em;
            aspect-ratio: 1/1;
        }

        h1 {
            text-transform: uppercase;
            font-weight: 300;
            margin: 0;
            color: var(--clr-dark);

            span {
                color: var(--clr-grey);
            }
        }
    }

}


.nav {
    font-size: 1.25rem;

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: fit-content;
        margin-left: auto;
        margin-block: 0;

        a {
            color: var(--clr-dark);
            padding: .5em;
            display: block;
            transition: all 500ms ease-in-out;
        }

        a:hover, a:focus-within {
            background-color: var(--clr-dark);
            color: var(--clr-accent);
            transition: all 500ms ease-in-out;
        }
    }
}

.card {
    background: var(--clr-light);
    border-bottom: solid var(--bottom-outline) var(--clr-dark);
    padding: 2em;
    width: 70%;
    margin-inline: 0 auto;

    .card__title {
        font-size: 2rem;
    }

    .card__button {
        display: block;
        width: fit-content;
        padding: .75em 1.5em;
        margin-top: 1em;
        background-color: var(--clr-dark);
        color: var(--clr-accent);
        transition: all 500ms ease-in-out;

        &:hover, &:focus-within {
            background-color: var(--clr-accent);
            color: var(--clr-dark);
            transition: all 500ms ease-in-out;
        }
    }

    .card__form {
        width: 80%;

        input[type="text"], textarea {
            width: 80%;
            margin-bottom: .5em;
            padding: 1em;
            outline: solid 2.5px var(--clr-grey);
        }
    }
    
    .card__table {
        width: 80%;
        text-align: left;
        margin-top: 1em;
        border-collapse: collapse;

        tr {
            height: 3em;

            th {
                border-top: solid 1px var(--clr-grey);
                border-bottom: solid 2px var(--clr-grey);
            }

            td {
                border-top: solid 1px var(--clr-grey);
            }

            button {
                border: solid 1px var(--clr-dark);
                border-radius: 1em;
                background-color: var(--clr-grey);
            }
        }
    }
}

.card--2 {
    background-color: var(--clr-grey);
}

.card--right {
    margin-inline: auto 0;
}

.card--img {
    border: solid var(--bottom-outline) var(--clr-dark);
    margin-inline: auto;
}